body {
	background-color: #fff;
    color: #999999;
    font-size: 16px;
}

h1 {
	color: #1e1e1e;
	font-size: 3.5em;
	font-family: 'Syncopate', sans-serif;
}

#modal-title-text {
	font-size: 2em;
	color: white;
}

#orange-header {
	background-color: #f7941d;
}

#navbar-home {
	height: 40px;
	background-color: #f7941d;
	border: none;
	color: #fff;
}

#nav-logo {
	height: 47px;
	margin-left: 5px;
	margin-top: -26px;
}

#nav-logo-text {
	color: #1e1e1e;
	font-size: 2.5em;
	font-family: 'Syncopate', sans-serif;
}

#navbar-index-items {
	margin-right: 20px;
	margin-top: 13px;
	width: 145px;
}

.left-link {
	padding-right: 10px;
	border-right: 1px solid;
	line-height: 1.3em;
}

#contact-link {
	padding-left: 5px;
}

#nav-budget {
	height: 60px;
	background-color: #fff;
	border-bottom-style: solid;
    border-bottom-color: #f7941d;
    border-bottom-width: 12px;
	color: #fff;
}

#budget-nav-items {
	width: 410px;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration: none;
}

/* selected link */
a:active {
    color: white;
    text-decoration: none;
}

a#about-link-budget {
	padding-right: 10px;
	border-right: 1px solid;
	/*line-height: 1.3em;*/
	color: #f7941d;
}

a#contact-link-budget {
	padding-left: 5px;
	border-right: 1px solid;
	color: #f7941d;
}

a#articles-link-budget {
	padding-left: 5px;
	border-right: 1px solid;
	color: #f7941d;
}

a#deals-link-budget {
	padding-left: 5px;
	color: #f7941d;
}

#brand {
	text-align: center;
	margin-top: 100px;
}

#logo {
	width: 150px;
	margin-bottom: 20px;
}

#form {
	margin-top: 60px;
	border-left: 2px solid #cccccc;
	height: 300px;
	padding-top: 70px;
	padding-left: 60px;

}

.input-field {
	border: 0;
	outline: 0;
	border-bottom: 2px solid;
	border-color: #bcbcbc;
	width: 250px;
	margin-bottom: 30px;
}

.orange-button {
	background-color: #f7941d;
	border: none;
	color: white;
	width: 80px;
	padding-top: 7px;
	padding-bottom: 7px;
	margin-right: 10px;
}

#sign-up {
	background-color: white;
	border: 1px #1e1e1e solid;
	color: #1e1e1e;
	width: 80px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.log-out-button {
	margin-left: 8px;
}

.hide {
	display: none;
}

.success {
	margin-right: 15px;
}

/* budget.html styles */

#navbar-left-div {
	width: 311px;
}

#drop-row {
	background-color: #eff0f2;
}

#drop {
	background-color: #ccc;
	height: 500px;
	width: 	40%;
	margin: 25px 10px;
}

#welcome {
	padding: 15px 0px 15px 0px;
}

#addTransaction {
	background-color: transparent;
	margin: 20px 0px 20px 25px;
}

#deals {
	background-color: #eff0f2;
}

.deal-title {
	font-weight: bold;
	font-style: italic;
}

.deal-hr {
	color: #f7941d;
}

.deal-link {
	color:#ff5400;
}

a.article-title:link {
	font-size: 2em;
	color: #999;
}

a.article-title:visited {
	font-size: 2em;
	color: #999;
}

a.article-title:hover {
	font-size: 2em;
	color: #bababa;
}

a.article-title:active {
	font-size: 2em;
	color: #999;
}

.article-snippet {
	color: #bababa;
}

a.read-more:link {
	color: #999;
}

a.read-more:visited {
	color: #999;
}

a.read-more:hover {
	color: #bababa;
}

a.read-more:active {
	color: #999;
}

.article-div {
	margin-bottom: 10px;
}

#main-log-out {
	margin-top: 5px;
}

/* media query */
@media only screen and (max-width: 991px) {
	#navbar-index-items {
		margin-right: 20px;
		margin-top: 13px;
	}

	#navbar-budget-items {
		margin-right: 20px;
		margin-top: 13px;
	}

	#form {
		margin: auto;
		border: none;
		height: 300px;
		padding-top: 70px;
		padding-left: 0px;
		width: 251px;
	}
}

@media only screen and (max-width: 768px) {
	#navbar-index-items {
		margin: auto;
		margin-top: 13px;
	}

	#navbar-budget-items {
		margin: auto;
	}

	#navbar-left-div {
		width: 311px;
		margin: auto;
	}

	#nav-budget {
		height: 120px;
	}

	#form {
		margin: auto;
		border: none;
		height: 300px;
		padding-top: 70px;
		padding-left: 0px;
		width: 251px;
	}
}